main {
    padding: 10px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    margin: auto;
    text-align: center;
}

.pokemon-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

@media(min-width: 900px) {

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-self: center;
        margin:auto;
        width: 70%;
    }

}

@media(max-width: 900px) {

    .team-list {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        margin:auto;
        width: 70%;
    }

}