main {
    padding: 10px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    margin: auto;
    text-align: center;
}

.pokemon-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    margin:auto;
    width: 70%;
    height: 700px;
}