.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #222;
    height: 120px;
    padding: 10px;
}

.nav--icon-text {
    margin-right: auto;
    font-size: 36px;
    padding-left: 20px;
}

.nav-link {
    background-color: #333;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding: 0px 10px;
    font-size: 1.6em;
}

.nav-link:hover {
    background-color: #444;
}